<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="327138fe-f3b4-470c-967a-7b7f3f799e57" Publisher="CN=Vladyslav" Version="1.0.0.0" />
  <Properties>
    <DisplayName>EarthInBeatsPlayer.Windows</DisplayName>
    <PublisherDisplayName>Vladyslav</PublisherDisplayName>
    <Logo>Assets\50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="EarthInBeatsPlayer.Windows.App">
      <m2:VisualElements DisplayName="EarthInBeatsPlayer.Windows" Square30x30Logo="Assets\30.png" Square150x150Logo="Assets\150.png" Description="EarthInBeatsPlayer.Windows" ForegroundText="light" BackgroundColor="#1aa3ff">
        <m2:DefaultTile Wide310x150Logo="Assets\310_150.png" DefaultSize="square150x150Logo" Square70x70Logo="Assets\70.png" Square310x310Logo="Assets\310.png" ShortName="EarthInBeats">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#1aa3ff" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <FileType>.mp3</FileType>
              <FileType>.wav</FileType>
              <FileType>.wma</FileType>
              <FileType>.aac</FileType>
              <FileType>.flac</FileType>
              <FileType>.mp4</FileType>
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="removableStorage" />
    <Capability Name="musicLibrary" />
    <DeviceCapability Name="proximity" />
  </Capabilities>
</Package>